@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,ROND@8..144,-10..0,25..150,400..500,0..100&family=Google+Sans+Code:ital,wght@0,400;1,400&display=swap");

:root {
  --md-text-font: "Google Sans Flex";
  --md-code-font: "Google Sans Code";
}

body,
input {
  font-family: "Google Sans Flex", Arial, sans-serif;
}

code,
kbd,
pre {
  font-family: "Google Sans Code", "Roboto Mono", monospace;
}
